altair==5.5.0
blinker==1.9.0
cachetools==6.1.0
gensim==4.3.3
gitdb==4.0.12
GitPython==3.1.44
google-play-scraper==1.2.7
kagglehub==0.3.12
matplotlib==3.10.0
mkl-service==2.4.0
narwhals==1.46.0
networkx==3.5
numpy==1.26.4
plotly==6.2.0
protobuf==6.31.1
pyarrow==20.0.0
pydeck==0.9.1
PyQt6==6.7.1
Sastrawi==1.0.1
scipy==1.13.1
setuptools==72.1.0
smart-open==7.1.0
smmap==5.0.2
streamlit==1.46.1
tenacity==9.1.2
toml==0.10.2
watchdog==6.0.0
wheel==0.45.1
